
:root[data-theme="light"]{

  --bg-color: #e9ebf8;
  --primary-text: #8d818c;

  --secondary-text:#e9ebf8;;

  --tag-table-color:#b4b8c5;
  
  --navbar-color:#b4b8c5;
  --active-page:#a5a299;
  --hover-bg:#fff;
  --hover-text:var(--primary-text);

  --textbox-color:#fff;

  --footer-color:var(--navbar-color);

  --muted-text:#75f4f4;
  
  --switch-circle-bg:#dbd3d8;
  --switch-circle-pos: 0.66vw;
  --icon-sun:#d999b9;
  --icon-moon:var(--muted-text);

}

:root[data-theme="dark"]{

  --bg-color: #0e103d;
  --primary-text: #f2d7ee;

  --secondary-text:var(--primary-text );

  --tag-table-color:#8edce6;
  
  --navbar-color:#2978a0;
  --active-page:#0e103d;
  --hover-bg:#fff;
  --hover-text:#69306d;

  --textbox-color:#69306d;

  --footer-color:var(--navbar-color);

  --muted-text:#75f4f4;
  
  --switch-circle-bg:#7190ff;
  --switch-circle-pos: 3.6vw;
  --icon-sun:var(--muted-text);
  --icon-moon:var(--primary-text);

}

:root{
  --default-transistion: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;

}

  @font-face{
    font-family:"nasalization";
    src: url(assets/nasalization/nasalization-rg.otf);
  }

  @font-face{
    font-family:"prototype";
    src: url(assets/prototype/Prototype.ttf);
  }


@media only screen and (min-width: 768px){

  nav{
    width:100%;
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    font-family:"nasalization", "Times New Roman", Times, serif;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);

    z-index:2;
  }

  .navbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-color: var(--navbar-color);
    transition: var(--default-transistion);
  }

  .navbut:hover{
    transition-duration: .5s;
    background-color:var(--hover-bg);
    color:var(--hover-text);
  }

  #theme-switcher{

    display: flex;
    align-items: center;
    gap: 0.01vw;
    cursor: pointer;
    position:relative;

    animation: switcher-load-in 500ms ease-out;

  }

  @keyframes switcher-load-in{
    0% {
      transform: translateY(-250%)
    }

    100%{
      transform: translateY(0%);
    }
  }

  #theme-switcher::before{
    content:'';
    position: absolute;
    width: 28%;
    height: 50%;
    background-color: var(--switch-circle-bg);
    border-radius: 1.875rem;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
    transition: var(--default-transistion);
  }

  #theme-switcher svg{
    z-index: 1;
  }

  #sun-icon{
    fill: var(--icon-sun);
    width: 3vw;
    height: 3vh;
  }

  #moon-icon{
    fill: var(--icon-moon);
    width: 3vw;
    height: 3vh;
  }

  .hamburger{
    display: none;
  }

  .mobile-nav{
    display: none;
  }

}

html{
  background-color: var(--bg-color);
  transition: var(--default-transistion);
  font-family:"prototype", "Times New Roman", Times, serif;
}

main{
  color:var(--primary-text);
}

article{
  margin: auto;
  width: 70%;
  font-size: 2vh;
  margin-top: 15vh;
}

h1{
  font-family:"nasalization", "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 4vh;
}

h2{
  font-weight: lighter;
}

p{
  margin-bottom: 6vh; 
}

a{
  display:block;
  text-decoration:none;
  color:var(--secondary-text);
  padding:2vh 2vw;
  font-size:2vh;
}

.active{
  color:var(--active-page);
  transition: var(--default-transistion);
}

table{
  border-collapse:collapse;
  margin: auto;
  width: 70vw;
  font-size:1.1rem;
}

th, td{
  border:3px solid var(--tag-table-color);
  width: 20%;
}

td{
  padding-top: 1%;
}

th {
  text-transform: uppercase;
  font-weight: lighter;
  padding:0.7%; 
}

.tabel{
  width: 100%;        
}

.titel{
  font-size: 200%;
  font-family:"nasalization", "Times New Roman", Times, serif;
  text-decoration: underline;
  margin-top: 3%;
}

.textbox{
  display: inline-flex;
  flex-direction: column;
  background-color:var(--textbox-color);  
  padding:5vh 2vw;
  border-radius: 2em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
  transition: var(--default-transistion);
  width: 100%;
}

footer{
  margin-top: 5%;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 35vh;
  position: absolute;
  left: 0;

  font-size: 2vh;
  background-color:var(--footer-color);
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  font-family:"nasalization", "Times New Roman", Times, serif;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
  color:var(--secondary-text);
  text-decoration: underline;
  transition: var(--default-transistion);

}


@media only screen and (max-width:767px){

  .navbutton{
    display: none;
  }

  .mobile-nav{
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: var(--bg-color);
    padding-top: 120px;
    transition: 0.4s;
  }

  .mobile-nav.is-active{
    top: 0;
  }

  .mobile-nav a{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: #69306d;
    width: 100%;
    max-width: 7rem;

    color: var(--primary-text);
    text-decoration:none;
  }


 #theme-switcher{
   fill: none;
 }

.hamburger{
  position: relative;
  display: block;
  width: 10vw;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
  content: '';
  display: block;
  width: 100%;
  height: 0.5vh;
  margin: 0.5vh;
  background-color: white;
  transition: 0.4s;

}

.hamburger.is-active:before{
    transform: translateY(5em) 
}

.hamburger.is-active .bar{
    opacity: 0;
}

.hamburger.is-active:after{
  transform: translateY(-5em) 
}

}
  